# Ignorar dependências do Node.js, pois elas serão instaladas dentro do contêiner
node_modules

# Ignorar arquivos de log
npm-debug.log

# Ignorar arquivos específicos do ambiente de desenvolvimento
.env
.DS_Store

# Ignorar diretório de build, pois ele será gerado dentro do contêiner
dist
