@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
* {
    padding: 0;
    margin: 0;
}

@layer base {
    body {
        font-family: "Inter", sans-serif;
    }
}

@layer components {
    input[type="checkbox"]:checked ~ label span svg {
        @apply inline-flex;
    }

    .sticky .header-logo {
        @apply py-5 lg:py-2;
    }

    .sticky .menu-scroll.active {
        @apply opacity-70;
    }

    input#togglePlan:checked ~ .dot {
        @apply translate-x-full;
    }

    input#checkboxLabel:checked ~ .box span {
        @apply opacity-100;
    }
}

.quotation-marks::before {
    content: "\201C";
}

.quotation-marks::after {
    content: "\201D";
}
